

body {
    line-height: 1.5;
    font-size: 13px;
    padding: 5% 7% 10%; /* Using percentages for padding */
    max-width: 55ch;
  }


body {
    line-height: 1.5;
    font-size: 0.8rem; 
    padding: 5% 7% 10%; 
    font-family:  sans-serif;                                        
    background-color: #F1F6F9;
    color: #000000;
}



  a {
    color: #5C5D67;
    transition: color 0.3s ease; 
  }
  
  a:hover {
    color: #520012; 
  }
